/* Global view aka desktop view */

body {
    font-family: 'Asap', sans-serif;
    background-color: #EBEBEB;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

span {
    font-weight: bold;
}

.header-container {
    min-height: 100px;
    background-color: rgba(60, 60, 60, 0.952);
    text-transform: uppercase;
    position: fixed;
    width: 100%;
}
header { 
    max-width: 1024px;
    min-height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid red; */
}
.logo {
    margin: 10px 25px;
    font-size: 1.15rem;
}
.mybutton {
    padding: 10px 25px;
    border: 1px solid white;
    margin-left: 25px;
}

.container {
    min-height: 500px;
    padding-top: 120px;
    max-width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.col {
    width: 30%;
    margin: 30px 0px;
    background-color: rgb(43, 226, 147);    
}

.col p {
    padding: 20px 30px;
    text-align: center;
    color: white;
}

.col p::first-line {
    font-weight: bold;
}


.col img { 
    width: 100%;
    height: auto;
}
.mob-wrapper {
    display: none;
}

/* Tablet view */
@media (max-width: 768px) {

.col {
    width: 45%;

}
/* .hide-desktop-only {
    display: block;
} */

.header-container {
    position: relative;
}

.logo {
    padding: 30px 0;
}
nav {
    display: none;
}
nav a {
    display: block;
}
.nav-button {
    display: block; 
    margin-left: 0;   
    background-color: rgba(60, 60, 60, 0.952);
    padding: 15px 30px;
    margin-left: -70px;
    text-align: center;
}
.mob-nav {
    display: none;
    position: absolute;
    padding-top: 10px;
}
.mob-wrapper {
    display: block;
    padding-right: 30px;
}
.container {
    padding-top: 40px;
}

}

/* Mobile view */
@media (max-width: 400px) {

.col {
    width: 100%;
}

/* .hide-mobile {
    display: none;
} */

}